
/aml_venv
/checkpoints
/Epic_Kitchen_reduced
pp.py
/utils/__pycache__
/tasks/__pycache__
/models/__pycache__
/ek_data
/saved_models
/saved_features
/clustering_results
/TEST_RESULTS
/__pycache__
/extracted_feature_analysis/__pycache__
/extracted_feature_analysis/__pycache__
/extracted_feature_analysis/__pycache__
extracted_feature_analysis/__pycache__/load_feat.cpython-310.pyc
/extracted_feature_analysis/checkpoints
prova.py
/Experiment_logs
/extracted_feature_analysis/__pycache__
/utils/__pycache__
